{% extends 'base.html.twig' %}
{% block title %}Usuario: {{ fosUser.usernameCanonical }}{% endblock %}
{% block body %}
<div class="row">
 <div class="col-xs-12">
  <div class="box">
   <div class="box-header with-border">
    <h4>Datos</h4>
    <div class="box-tools pull-right">
     <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Ocultar">
     <i class="fa fa-minus"></i></button>
     <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Salir">
     <i class="fa fa-times"></i></button>
    </div>
   </div>
   <div class="box-body" style="">
    <table>
        <tbody>
            <tr><th>Nombre corto</th><td>{{ fosUser.username }}</td></tr>
            <tr><th>Correo</th><td>{{ fosUser.email }}</td></tr>
            <tr><th>Forma canonica</th><td>{{ fosUser.emailCanonical }}</td></tr>
            <tr><th>Habilitado</th><td>{% if fosUser.enabled %}Si{% else %}No{% endif %}</td></tr>
            <tr><th>Ultimo acceso</th><td>{% if fosUser.lastLogin %}{{ fosUser.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td></tr>
            <th>Roles</th><td>{% if fosUser.roles %}{{ fosUser.roles|join(', ') }}{% endif %}</td></tr>
        </tbody>
    </table>
   </div>
   <div class="box-footer" style="">
    <a href="{{ path('admin_personas_index') }}" class="btn btn-info"><span class="glyphicon glyphicon-list-alt" data-toggle="tooltip" title="" data-original-title="Listar"></span> Listar </a> <a href="{{ path('admin_personas_edit', { 'id': fosUser.id }) }}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="" data-original-title="Editar"></span> Editar </a>
{{ form_start(delete_form) }}
 <input type="submit" value="Eliminar" class="btn btn-danger"/>
{{ form_end(delete_form) }}
   </div>
  </div>
 </div>
</div>
{% endblock %}
