{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctlconsumos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechaconsumo</th>
                <th>Cantidadconsumo</th>
                <th>Registroschema</th>
                <th>Userid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ctlConsumo in ctlConsumos %}
            <tr>
                <td><a href="{{ path('consumo_show', { 'id': ctlConsumo.id }) }}">{{ ctlConsumo.id }}</a></td>
                <td>{% if ctlConsumo.fechaConsumo %}{{ ctlConsumo.fechaConsumo|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ ctlConsumo.cantidadConsumo }}</td>
                <td>{% if ctlConsumo.registroSchema %}{{ ctlConsumo.registroSchema|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ ctlConsumo.userId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('consumo_show', { 'id': ctlConsumo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('consumo_edit', { 'id': ctlConsumo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('consumo_new') }}">Create a new ctlConsumo</a>
        </li>
    </ul>
{% endblock %}
