{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctlconsumo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ctlConsumo.id }}</td>
            </tr>
            <tr>
                <th>Fechaconsumo</th>
                <td>{% if ctlConsumo.fechaConsumo %}{{ ctlConsumo.fechaConsumo|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cantidadconsumo</th>
                <td>{{ ctlConsumo.cantidadConsumo }}</td>
            </tr>
            <tr>
                <th>Registroschema</th>
                <td>{% if ctlConsumo.registroSchema %}{{ ctlConsumo.registroSchema|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ ctlConsumo.userId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('consumo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('consumo_edit', { 'id': ctlConsumo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
