{% extends 'base.html.twig' %}
{% block title %}Registro de movimientos entre almacenes y farmacias{% endblock %}
{% block subtitle %}Detalle de transferencias u otros movimientos entre almacenes del ministerio | <a href="{{ path('movimiento_new') }}" > Agregar movimientos en el inventario <span class="glyphicon glyphicon-plus-sign"></span></a>{% endblock %}
{% block body %}
    <!-- Main content -->
    <section class="content">
      <div class="row">
       <div class="col-xs-12">
        <div class="box">
         
        </div>
       </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="tabla" class="table table-bordered table-striped">
                <thead>
                <tr>
                <th>Fecha</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Producto</th>
                <th>Caducidad</th>
                <th>Cantidad</th>
                <th>Tipo</th>
                </tr>
                </thead>
                <tbody>
        {% for m in ctlMovimientos %}
            <tr>
                <td>{% if m.fechaMovimiento %}{{ m.fechaMovimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ m.establecimientoOrigen }}</td>
                <td>{{ m.ctlEstablecimientoid }}</td>
                <td>{{ m.ctlInsumoid }}</td>
                <td>{{ m.fechaCaducidad |date('Y-m-d') }}</td>
                <td>{{ m.cantidad | number_format(max, '.', ',') }}</td>
                <td>{{ m.ctlTipoMovimientoid }}</td>
                </td>
            </tr>
        {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                <th>Fecha</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Producto</th>
                <th>Caducidad</th>
                <th>Cantidad</th>
                <th>Tipo</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>    
{% endblock %}
{% block head_css %}
  <link rel="stylesheet" href="{{ asset('assets/') }}core/bower_components/DataTables/media/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="{{ asset('assets/') }}core/bower_components/DataTables/extensions/Buttons/css/buttons.dataTables.min.css">
{% endblock %}
{% block footer_js %}
 <script>
  function cierre(){
	$.ajax({
	  type: "POST",
	  url: "{{ url('minsal_core_configuracion_cierre') }}?establecimiento="+{{ id }},
	  success: function(data) {
		$('#respuesta').html(data);
      }
    });
  }
  </script>
<script src="{{ asset('assets/') }}core/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
<script src="{{ asset('assets/') }}core/bower_components/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="{{ asset('assets/') }}core/bower_components/DataTables/extensions/Buttons/js/buttons.html5.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<script>
$(document).ready(function() {
    $('#tabla').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf'
        ],
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true
    } );
} );
</script>
{% endblock %}
