{% extends 'base.html.twig' %}
{% block title %}Registro de movimientos entre almacenes y farmacias{% endblock %}
{% block subtitle %}Detalle de transferencias u otros movimientos entre almacenes del ministerio | <a href="{{ path('movimiento_new') }}" > Agregar movimientos en el inventario <span class="glyphicon glyphicon-plus-sign"></span></a>{% endblock %}
{% block body %}
<div class="col-md-12 col-sm-6 col-xs-12" id="respuesta" >
 <div class="info-box">
  <span class="info-box-icon bg-aqua"><i class="fa fa-calendar"></i></span>
  <div class="info-box-content">
   <span class="info-box-text">Cierre.</span>
   <span class="info-box-number">Realice esta operación unicamente si ha finalizado de realizar el registro de todos los consumos de los productos</span>
   <button type="button" class="btn btn-danger btn-sm" onclick="cierre()">Eliminar cuadro basico</button>
   
  </div>
 </div>
</div>
    <!-- Main content -->
    <section class="content">
      <div class="row">
       <div class="col-xs-12">
        <div class="box">
         
        </div>
       </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="tabla" class="table table-bordered table-striped">
                <thead>
                <tr>
                <th>Fecha</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Producto</th>
                <th>Lote</th>
                <th>Cantidad</th>
                <th>Operaciones</th>
                </tr>
                </thead>
                <tbody>
        {% for m in ctlMovimientos %}
            <tr>
                <td>{% if m.fechaMovimiento %}{{ m.fechaMovimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ m.ctlEstablecimientoid }}</td>
                <td>{{ m.establecimientoOrigen }}</td>
                <td>{{ m.ctlInsumoid }}</td>
                <td>{{ m.loteMovimiento }}</td>
                <td>{{ m.cantidad | number_format(max, '.', ',') }}</td>
                <td><a href="{{ path('movimiento_edit', { 'id': m.id }) }}"> Editar</a>
                </td>
            </tr>
        {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                <th>Fecha</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Producto</th>
                <th>Lote</th>
                <th>Cantidad</th>
                <th>Operaciones</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>    
{% endblock %}

{% block footer_js %}
 <script>
  function cierre(){
	$.ajax({
	  type: "POST",
	  url: "{{ url('minsal_core_configuracion_cierre') }}?establecimiento="+{{ id }},
	  success: function(data) {
		$('#respuesta').html(data);
      }
    });
  }
  </script>
<!-- DataTables -->
<script src="{{ asset('assets/') }}core/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{ asset('assets/') }}core/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- page script -->
<script>
  $(function () {
    $('#tabla').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
{% endblock %}
