{% extends 'base.html.twig' %}
{% block title %}Registro de movimientos entre almacenes [Establecimiento xx-99-xx]{% endblock %}
{% block subtitle %}Detalle de transferencias u otros movimientos entre almacenes del ministerio{% endblock %}
{% block body %}
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          

          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="tabla" class="table table-bordered table-striped">
                <thead>
                <tr>
                <th>Tipo de movimiento</th>
                <th>Fecha de movimiento</th>
                <th>Cantidad</th>
                <th>Operaciones</th>
                </tr>
                </thead>
                <tbody>
        {% for ctlMovimiento in ctlMovimientos %}
            <tr>
                <td>{{ ctlMovimiento.tipoMovimiento }}</td>
                <td>{% if ctlMovimiento.fechaMovimiento %}{{ ctlMovimiento.fechaMovimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ ctlMovimiento.cantidad }}</td>
                <td>{% if ctlMovimiento.fechaRegistroMovimiento %}{{ ctlMovimiento.fechaRegistroMovimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a href="{{ path('movimiento_show', { 'id': ctlMovimiento.id }) }}">Ver </a>-<a href="{{ path('movimiento_edit', { 'id': ctlMovimiento.id }) }}"> Editar</a>
                </td>
            </tr>
        {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                <th>Tipo de movimiento</th>
                <th>Fecha de movimiento</th>
                <th>Cantidad</th>
                <th>Operaciones</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      
<a href="{{ path('movimiento_new') }}" class="btn  btn-primary">Agregar movimiento</a>
    </section>    
{% endblock %}
{% block footer_js %}
<!-- DataTables -->
<script src="{{ asset('assets/') }}core/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{ asset('assets/') }}core/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- page script -->
<script>
  $(function () {
    $("#tabla").DataTable();
    $('#e').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
{% endblock %}
