{% extends 'base.html.twig' %}
{% block title %}Registro de movimientos entre almacenes{% endblock %}
{% block subtitle %}Detalle de transferencias u otros movimientos entre almacenes del ministerio{% endblock %}
{% block body %}
<section class="content">
 <div class="col-md-12">
  {{ form_start(form) }}
  <div class="box box-primary">
   <div class="box-header with-border">
    <h3 class="box-title">Detalle de transferencias u otros movimientos entre almacenes / farmacias del ministerio</h3>
   </div>
   <div class="box-body">
    <div class="form-group"><label class="col-sm-2 control-label">Tipo movimiento</label>
     <div class="col-sm-10">{{ form_widget(form.ctlTipoMovimientoid) }}{{ form_errors(form.ctlTipoMovimientoid) }}</div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">Producto</label>
     <div class="col-sm-10">{{ form_widget(form.ctlInsumoid) }}{{ form_errors(form.ctlInsumoid) }}</div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">Fecha caducidad</label>
     <div class="col-sm-10">{{ form_widget(form.fechaCaducidad) }}{{ form_errors(form.fechaCaducidad) }}</div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">Cantidad</label>
     <div class="col-sm-10">{{ form_widget(form.cantidad) }}{{ form_errors(form.cantidad) }}</div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">Lote</label>
     <div class="col-sm-10">{{ form_widget(form.loteMovimiento) }}{{ form_errors(form.loteMovimiento) }}</div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">Fecha del movimiento</label>
     <div class="col-sm-10">{{ form_widget(form.fechaMovimiento) }}{{ form_errors(form.fechaMovimiento) }}</div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">Origen</label>
     <div class="col-sm-10">{{ form_widget(form.establecimientoOrigen) }}{{ form_errors(form.establecimientoOrigen) }}</div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">Es almacen o farmacia el origen</label>
     <div class="col-sm-10">{{ form_widget(form.almacenFarmaciaOrigen) }}{{ form_errors(form.almacenFarmaciaOrigen) }}</div>
    </div><div class="col-sm-12"><div/>
    <div class="form-group"><label class="col-sm-2 control-label">Destino</label>
     <div class="col-sm-10">{{ form_widget(form.ctlEstablecimientoid) }}{{ form_errors(form.ctlEstablecimientoid) }}</div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">Es almacen o farmacia el destino</label>
     <div class="col-sm-10">{{ form_widget(form.almacenFarmacia) }}{{ form_errors(form.almacenFarmacia) }}</div>
    </div>
    {{ form_widget(form) }}
   </div>
   
  <script src="{{ asset('assets/') }}core/plugins/select2/select2.full.min.js"></script>
   <div class="box-footer">
    <button type="submit" class="btn btn-primary">Procesar movimiento</button> <a href="{{ path('movimiento_index') }}" class="btn  btn-default"><b>Regresar</b></a>
   </div>
  </div>
  {{ form_end(form) }}
 </div>
</section>    
{% endblock %}
{% block head_css %}
  <link rel="stylesheet" href="{{ asset('assets/') }}core/plugins/datepicker/datepicker3.css">
{% endblock %}
{% block footer_js %}
  <script src="{{ asset('assets/') }}core/plugins/datepicker/bootstrap-datepicker.js"></script>
  <!-- Bootstrap 3.3.6 -->
  <script src="{{ asset('assets/') }}core/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ asset('assets/') }}core/bootstrap/js/datetimepicker.es.js"></script>
<script src="{{ asset('assets/') }}core/bower_components/select2/dist/js/select2.full.min.js"></script>
  <script type="text/javascript">
   
  $('#minsal_corebundle_ctlmovimiento_ctlInsumoid').select2();
  $('#minsal_corebundle_ctlmovimiento_ctlTipoMovimientoid').select2();
//  $('#minsal_corebundle_ctlmovimiento_establecimientoOrigen').select2();
//  $('#minsal_corebundle_ctlmovimiento_ctlEstablecimientoid').select2();
  
  $(function () {
    $("#minsal_corebundle_ctlmovimiento_fechaMovimiento").datepicker({ 
    format: 'yyyy-mm-dd',
    language: 'es',
    endDate: '1d'
     }).datepicker("setDate", "0");;
  });
  $("#minsal_corebundle_ctlmovimiento_fechaCaducidad").datepicker({ 
  format: 'yyyy-mm-dd',
  language: 'es'
  });

  function cargar(valor) {
   if (valor == 1){
    document.getElementById("minsal_corebundle_ctlmovimiento_ctlEstablecimientoid").value = "{{e}}";
    $("#minsal_corebundle_ctlmovimiento_establecimientoOrigen").select2();
    document.getElementById("minsal_corebundle_ctlmovimiento_almacenFarmaciaOrigen").checked = true;
    document.getElementById("minsal_corebundle_ctlmovimiento_almacenFarmacia").checked = true;
   }
   if (valor == 2){
    document.getElementById("minsal_corebundle_ctlmovimiento_establecimientoOrigen").value = "{{e}}";
    $("#minsal_corebundle_ctlmovimiento_ctlEstablecimientoid").select2();
    document.getElementById("minsal_corebundle_ctlmovimiento_almacenFarmaciaOrigen").checked = true;
   }
   if (valor == 3){
    document.getElementById("minsal_corebundle_ctlmovimiento_ctlEstablecimientoid").value = "{{e}}";
    document.getElementById("minsal_corebundle_ctlmovimiento_establecimientoOrigen").value = "{{e}}";
    document.getElementById("minsal_corebundle_ctlmovimiento_almacenFarmaciaOrigen").checked = true;
   }
   if (valor == 4){
    document.getElementById("minsal_corebundle_ctlmovimiento_ctlEstablecimientoid").value = "{{e}}";
   }
  }
</script>
{% endblock %}
