{% extends 'base.html.twig' %}
{% block title %}Registro de movimientos entre almacenes{% endblock %}
{% block subtitle %}Detalle de transferencias u otros movimientos entre almacenes del ministerio{% endblock %}
{% block body %}
    <!-- Main content -->
    <section class="content">
	 {{ form_start(form) }}
	 <div class="row">
      <div class="col-xs-2">
       Fecha: {{ form_widget(form.fechaMovimiento) }}
      </div>
      <div class="col-xs-4">
       Producto: {{ form_widget(form.ctlInsumoid) }}
      </div>
      <div class="col-xs-2">
       Almacen / farmacia: {{ form_widget(form.almacenFarmacia) }}
      </div>
      <div class="col-xs-2">
       Lote: {{ form_widget(form.loteMovimiento) }}
      </div>
      <div class="col-xs-2">
       Cantidad: {{ form_widget(form.cantidad) }}
      </div>
     </div>
	 <div class="row">
      <div class="col-xs-6">
       Origen: {{ form_widget(form.establecimientoOrigen) }}
      </div>
      <div class="col-xs-6">
       Destino: {{ form_widget(form.ctlEstablecimientoid) }}
      </div>
     </div>
    <input type="submit" value="Crear" />
     {{ form_end(form) }}
    <div class="box-body">
     
     <div class="row">
      <div class="box"></div>
     </div>
    </div>
      <a href="{{ path('movimiento_index') }}" class="btn  btn-primary">Regresar</a>
    </section>    
{% endblock %}
{% block head_css %}
  <link rel="stylesheet" href="{{ asset('assets/') }}core/plugins/datepicker/datepicker3.css">
  <link rel="stylesheet" href="{{ asset('assets/') }}css/jquery-ui/jquery-ui.css">
<!-- jQuery 2.2.3 -->
<script src="{{ asset('assets/') }}core/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{{ asset('assets/') }}core/bootstrap/js/bootstrap.min.js"></script>
  <script>
  $(function($) {
    $( "#minsal_corebundle_ctlmovimiento_ctlInsumoid" ).autocomplete({
      source: 'jsonmedicamentos',
      minLength: 4,
      highlight: false,
      width: 320,
      scroll: true,
      scrollHeight: 300
    });
  });
  </script>
{% endblock %}
{% block footer_js %}
  <script src="{{ asset('assets/') }}core/plugins/datepicker/bootstrap-datepicker.js"></script>
  <script>
  $(function () {
    $("#minsal_corebundle_ctlmovimiento_fechaMovimiento").datepicker({ 
    format: 'yy-mm-dd',
    startDate: '-3d' });
  });
</script>
{% endblock %}
