{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctlmovimiento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ctlMovimiento.id }}</td>
            </tr>
            <tr>
                <th>Fechamovimiento</th>
                <td>{% if ctlMovimiento.fechaMovimiento %}{{ ctlMovimiento.fechaMovimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tipomovimiento</th>
                <td>{{ ctlMovimiento.tipoMovimiento }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ ctlMovimiento.cantidad }}</td>
            </tr>
            <tr>
                <th>Fecharegistromovimiento</th>
                <td>{% if ctlMovimiento.fechaRegistroMovimiento %}{{ ctlMovimiento.fechaRegistroMovimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('movimiento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('movimiento_edit', { 'id': ctlMovimiento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
