{% extends 'base.html.twig' %}
{% block title %}Movimiento {% if ctlMovimiento.fechaMovimiento %}{{ ctlMovimiento.fechaMovimiento|date('Y-m-d H:i:s') }}{% endif %}{% endblock %}
{% block subtitle %}{% endblock %}
{% block body %}
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
         <table>
        <tbody>
            <tr>
                <th>Fechamovimiento</th>
                <td>{% if ctlMovimiento.fechaMovimiento %}{{ ctlMovimiento.fechaMovimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tipomovimiento</th>
                <td>{{ ctlMovimiento.tipoMovimiento }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ ctlMovimiento.cantidad }}</td>
            </tr>
        </tbody>
    </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <a href="{{ path('movimiento_index') }}" class="btn  btn-primary">Regresar</a>
    </section>    
{% endblock %}
