{% extends 'base.html.twig' %}
{% block title %}Editar acceso a un enlace{% endblock %}
{% block body %}
<div class="row">
 <div class="col-xs-12">
  <div class="box">
   <div class="box-header with-border">
    <h4>Datos</h4>
    <div class="box-tools pull-right">
     <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Ocultar">
     <i class="fa fa-minus"></i></button>
     <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Salir">
     <i class="fa fa-times"></i></button>
    </div>
   </div>
   <div class="box-body">
    {{ form_start(edit_form) }}
    <div class="form-group">
     <label >Nombre del item en menu</label>
     <div >
      {{ form_widget(edit_form.nombreAcceso) }}
     </div>
    </div>
    <div class="form-group">
     <label >Es visible en el menu</label>
     <div >
      {{ form_widget(edit_form.visibleAcceso) }}
     </div>
    </div>
    <div class="form-group">
     <label >Ruta en router</label>
     <div >
      {{ form_widget(edit_form.pathAcceso) }}
     </div>
    </div>
    <div class="form-group">
     <label >Roles que tienen acceso</label>
     <div >
      {{ form_widget(edit_form.rol) }}
     </div>
    </div>
		{{ form_widget(edit_form._token) }}
        <input type="submit" value="Actualizar" class="btn btn-primary" />
    </form>
   </div>
   <div class="box-footer" style="">
    {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar acceso" class="btn btn-danger" />
            {{ form_end(delete_form) }}
   </div>
  </div>
 </div>    <a href="{{ path('admin_accesos_index') }}" class="btn btn-info"><span class="glyphicon glyphicon-list-alt" data-toggle="tooltip" title="" data-original-title="Listar"> Listar </span></a>

</div>
{% endblock %}
