{% extends 'base.html.twig' %}
{% block title %}Agregar Acceso{% endblock %}
{% block body %}
<div class="row">
 <div class="col-xs-12">
  <div class="box">
   <div class="box-header with-border">
    <h4>Datos</h4>
    <div class="box-tools pull-right">
     <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Ocultar">
     <i class="fa fa-minus"></i></button>
     <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Salir">
     <i class="fa fa-times"></i></button>
    </div>
   </div>
   <div class="box-body">
    {{ form_start(form) }}
    <div class="form-group">
     <label class="col-sm-2 control-label">Nombre del item en menu</label>
     <div class="col-sm-10">
      {{ form_widget(form.nombreAcceso) }}
     </div>
    </div>
    <div class="form-group">
     <label class="col-sm-2 control-label">Es visible en el menu</label>
     <div class="col-sm-10">
      {{ form_widget(form.visibleAcceso) }}
     </div>
    </div>
    <div class="form-group">
     <label class="col-sm-2 control-label">Ruta en router</label>
     <div class="col-sm-10">
      <select id="minsal_corebundle_ctlacceso_pathAcceso" name="minsal_corebundle_ctlacceso[pathAcceso]" required="required">
       {% for route in routes %}
        <option value="{{ route.name }}">{{ route.name }}</option>
       {% endfor %}
      </select>
     </div>
    </div>
    <div class="form-group">
     <label class="col-sm-2 control-label">Roles que tienen acceso</label>
     <div class="col-sm-10">
      {{ form_widget(form.rol) }}
     </div>
    </div>
		{{ form_widget(form._token) }}
        <input type="submit" value="Agregar" class="btn btn-primary" />
    </form>
   </div>
   <div class="box-footer" style="">
    <a href="{{ path('admin_accesos_index') }}" class="btn btn-info"><span class="glyphicon glyphicon-list-alt" data-toggle="tooltip" title="" data-original-title="Listar"> Listar </span></a>
   </div>
  </div>
 </div>
</div>
{% endblock %}
