{% extends 'base.html.twig' %}
{% block title %}Acceso: {{ ctlAcceso.nombreAcceso }}{% endblock %}
{% block body %}
<div class="row">
 <div class="col-xs-12">
  <div class="box">
   <div class="box-header with-border">
    <h4>Datos</h4>
    <div class="box-tools pull-right">
     <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Ocultar">
     <i class="fa fa-minus"></i></button>
     <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Salir">
     <i class="fa fa-times"></i></button>
    </div>
   </div>
   <div class="box-body" style="">
    <table>
        <tbody>
            <tr><th>Nombre de item en menu </th><td>{{ ctlAcceso.nombreAcceso }}</td></tr>
            <tr><th>Ruta en router </th><td>{{ ctlAcceso.pathAcceso }}</td></tr>
            <tr><th>Visible </th><td>{% if ctlAcceso.publicAcceso %}Si{% else %}No{% endif %}</td></tr>
            <tr><th>Cargos </th><td>{{ ctlAcceso.rol |join(', ') }}</td></tr>
        </tbody>
    </table>
   </div>
   <div class="box-footer" style="">
    <a href="{{ path('admin_accesos_index') }}" class="btn btn-info"><span class="glyphicon glyphicon-list-alt" data-toggle="tooltip" title="" data-original-title="Listar"></span> Listar </a>
   </div>
  </div>
 </div>
</div>
{% endblock %}
