{% extends 'base.html.twig' %}
{% block title %}Listado de Establecimientos{% endblock %}
{% block subtitle %}<a href="{{ path('configuracion_establecimientos_cuadro') }}" > Definir cuadro basico <span class="glyphicon glyphicon-plus-sign"></span></a>{% endblock %}
{% block body %}
<div class="row">
 <div class="box">
  <div class="box-header"><h3 class="box-title">Dar clic en el tipo de establecimiento para ver el detalle del cuadro basico</h3>
   <select class="select2"  id="establecimiento" onchange="muestra()">
    {% for t in ctlEstablecimientos %}
     <option value="{{t.id}}"><i class="fa fa-fw fa-database"></i> {{ t.nombre }}</option>
    {% endfor %}
   </select>
   <button type="button" class="btn btn-danger btn-sm">Eliminar cuadro basico</button>
  </div>
 </div>
</div>
<div id="respuesta"></div>

{% endblock %}

{% block footer_js %}
 <script>  
  function muestra(){
    $('#respuesta').html('');
	$.ajax({
	  type: "POST",
	  url: "{{ url('configuracion_establecimientos_ajax') }}?cuadro="+ document.getElementById("establecimiento").value,
	  success: function(data) {
		$('#respuesta').html(data);
      }
    });
  }
  </script>
<!-- DataTables -->
<script src="{{ asset('assets/') }}core/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{ asset('assets/') }}core/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- page script -->
<script>
  $(function () {
    $('#tabla').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : false,
      'autoWidth'   : false
    })
  })
</script>
	<script src="{{ asset('assets/') }}core/plugins/select2/select2.full.min.js"></script>
  <script src="{{ asset('assets/') }}core/plugins/select2/select2.full.min.js"></script>
  <script>
  $(function () {
    $("#minsal_cuadro_basico_productos").select2();
  });
  </script>

{% endblock %}
{% block head_js %}
  <link rel="stylesheet" href="{{ asset('assets/') }}core/plugins/select2/select2.min.css">
{% endblock %}
