{% extends 'base.html.twig' %}
{% block title %}Listado de Establecimientos{% endblock %}
{% block subtitle %}<a href="{{ path('configuracion_establecimientos_cuadro') }}" > Definir cuadro basico <span class="glyphicon glyphicon-plus-sign"></span></a>{% endblock %}
{% block body %}
<div class="row">
 <div class="box">
  <div class="box-header"><h3 class="box-title">Dar clic en el tipo de establecimiento para ver el detalle del cuadro basico</h3>
   <select class="select2"  id="establecimiento" onchange="muestra()">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
   </select>
  </div>
   <div class="box-body">
    <div class = "row">
    </div>
    <script>
function muestra() {
    var x = document.getElementById("establecimiento").value;
    document.getElementById("respuesta").innerHTML = "You selected: " + x;
}
</script>
    <table id="tabla" class="table table-bordered table-striped">
     <thead>
      <tr>
       <th>Tipo establecimiento</th>
       <th>Opciones</th>
      </tr>
     </thead>
     <tbody>
        {% for t in ctlEstablecimientos %}
            <tr>
                <td>{{ t.nombre }}</td>
                <td><button type="submit" class="btn btn-primary btn-xs pull-left" onclick="cuadrobasico({{t.id}})"> <i class="fa fa-fw fa-database"></i> Ver cuadro básico</button>
                <button type="submit" class="btn btn-primary btn-xs pull-right" onclick="establecimientos({{t.id}})"> <i class="fa fa-fw fa-building-o"></i> Establecimientos</button></td>
            </tr>
        {% endfor %}
     </tbody>
      <tr>
       <th>Tipo establecimiento</th>
       <th>Opciones</th>
      </tr>
     <tfoot>
     </tfoot>
    </table>
  </div>
 </div>
</div>
<div id="respuesta"></div>

{% endblock %}

{% block footer_js %}
 <script>  
  function cuadrobasico(value){
	$.ajax({
	  type: "POST",
	  url: "{{ url('configuracion_establecimientos_ajax') }}?cuadro="+ value,
	  success: function(data) {
		 document.getElementById('respuesta').style.display = 'none';
      }
    });
  }
  </script>
<!-- DataTables -->
<script src="{{ asset('assets/') }}core/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{ asset('assets/') }}core/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- page script -->
<script>
  $(function () {
    $('#tabla').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : false,
      'autoWidth'   : false
    })
  })
</script>
	<script src="{{ asset('assets/') }}core/plugins/select2/select2.full.min.js"></script>
  <script src="{{ asset('assets/') }}core/plugins/select2/select2.full.min.js"></script>
  <script>
  $(function () {
    $("#minsal_cuadro_basico_productos").select2();
  });
  </script>

{% endblock %}
{% block head_js %}
  <link rel="stylesheet" href="{{ asset('assets/') }}core/plugins/select2/select2.min.css">
{% endblock %}
