{% extends 'base.html.twig' %}
{% block title %}Listado de Establecimientos{% endblock %}
{% block subtitle %}<a href="{{ path('configuracion_establecimientos_cuadro') }}" > Definir cuadro basico <span class="glyphicon glyphicon-plus-sign"></span></a>{% endblock %}
{% block body %}
<div class="row">
 <div class="box">
  <div class="box-header"><h3 class="box-title">Dar clic en el establecimiento para ver el detalle del cuadro basico</h3></div>
   <div class="box-body">
    <table id="tabla" class="table table-bordered table-striped">
     <thead>
      <tr>
       <th>Tipo establecimiento</th>
       <th>Nombre de establecimiento</th>
       <th>Direccion</th>
       <th>Telefono</th>
      </tr>
     </thead>
     <tbody>
        {% for ctlEstablecimiento in ctlEstablecimientos %}
            <tr>
                <td>{{ ctlEstablecimiento.idTipoEstablecimiento }}</td>
                <td><a href="{{ path('configuracion_establecimientos_show', { 'id': ctlEstablecimiento.id }) }}">{{ ctlEstablecimiento.nombre }} <span class="glyphicon glyphicon-search"></span></a></td>
                <td>{{ ctlEstablecimiento.direccion }}</td>
                <td>{{ ctlEstablecimiento.telefono }}</td>
            </tr>
        {% endfor %}
     </tbody>
       <th>Tipo establecimiento</th>
       <th>Nombre de establecimiento</th>
       <th>Direccion</th>
       <th>Telefono</th>
     <tfoot>
     </tfoot>
    </table>
  </div>
 </div>
</div>

{% endblock %}

{% block footer_js %}
<!-- DataTables -->
<script src="{{ asset('assets/') }}core/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{ asset('assets/') }}core/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- page script -->
<script>
  $(function () {
    $('#tabla').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : false,
      'autoWidth'   : false
    })
  })
</script>
	<script src="{{ asset('assets/') }}core/plugins/select2/select2.full.min.js"></script>
  <script src="{{ asset('assets/') }}core/plugins/select2/select2.full.min.js"></script>
  <script>
  $(function () {
    $("#minsal_cuadro_basico_productos").select2();
  });
  </script>

{% endblock %}
{% block head_js %}
  <link rel="stylesheet" href="{{ asset('assets/') }}core/plugins/select2/select2.min.css">
{% endblock %}
