{% extends 'base.html.twig' %}
{% block title %}Cuadro básico por establecimientos{% endblock %}
{% block subtitle %}<a href="{{ path('configuracion_establecimientos_cuadro') }}" > Definir cuadro basico <span class="glyphicon glyphicon-plus-sign"></span></a>{% endblock %}
{% block body %}
<div class="row">
 <div class="box">
  <div class="box-header"><h3 class="box-title">Dar clic en el tipo de establecimiento para ver el detalle del cuadro basico</h3>
   <select class="select2"  id="establecimiento" onchange="muestra()">
    {% for t in ctlEstablecimientos %}
     <option value="{{t.id}}"><i class="fa fa-fw fa-database"></i> {{ t.nombre }}</option>
    {% endfor %}
   </select>
   <button type="button" class="btn btn-danger btn-sm" onclick="delCuadro()">Eliminar cuadro basico</button>
  </div>
 </div>
</div>
<div class="row">
 <div class="box" id="respuesta">
 <div class="col-md-2">
 </div>
<div class="col-md-8">
          <div class="box box-widget widget-user-2">
            <div class="widget-user-header bg-yellow">
              <div class="widget-user-image">
                <img class="img-circle" src="{{ asset('assets/') }}img.png" alt="User Avatar">
              </div>
              <h3 class="widget-user-username">Cuadro basico de establecimientos</h3>
              <h5 class="widget-user-desc">Aqui podra realizar las siguientes actividades</h5>
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li><a href="#">Definir cuadro basicos por tipo de establecimiento</a></li>
                <li><a href="#">Personalizar el cuadro basico de un establecimiento especifico</a></li>
                <li><a href="#">Ver el control de cambios o cuadro básico historico</a></li>
              </ul>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>

 </div>
</div>

{% endblock %}

{% block footer_js %}
 <script>  
  function muestra(){
    $('#respuesta').html('');
	$.ajax({
	  type: "POST",
	  url: "{{ url('configuracion_establecimientos_ajax') }}?cuadro="+ document.getElementById("establecimiento").value,
	  success: function(data) {
		$('#respuesta').html(data);
      }
    });
  } 
  function delCuadro(){
    $('#respuesta').html('');
	$.ajax({
	  type: "POST",
	  url: "{{ url('minsal_core_configuracion_cuadro_del') }}?cuadro="+ document.getElementById("establecimiento").value,
	  success: function(data) {
		$('#respuesta').html(data);
      }
    });
  }
  </script>
<!-- DataTables -->
<script src="{{ asset('assets/') }}core/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{ asset('assets/') }}core/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- page script -->
<script>
  $(function () {
    $('#tabla').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : false,
      'autoWidth'   : false
    })
  })
</script>
	<script src="{{ asset('assets/') }}core/plugins/select2/select2.full.min.js"></script>
  <script src="{{ asset('assets/') }}core/plugins/select2/select2.full.min.js"></script>
  <script>
  $(function () {
    $("#minsal_cuadro_basico_productos").select2();
  });
  </script>

{% endblock %}
{% block head_js %}
  <link rel="stylesheet" href="{{ asset('assets/') }}core/plugins/select2/select2.min.css">
{% endblock %}
