{% extends 'base.html.twig' %}
{% block title %}Establecimiento [{{ ctlEstablecimiento.nombre }}]{% endblock %}
{% block subtitle %}Al editar puede actualizar el cuadro basico{% endblock %}
{% block body %}
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
        <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ ctlEstablecimiento.nombre }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ ctlEstablecimiento.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ ctlEstablecimiento.telefono }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ ctlEstablecimiento.fax }}</td>
            </tr>
        </tbody>
    </table>
    <p>
     <a href="{{ path('establecimiento_index') }}" class="btn  btn-default">Regresar a la lista</a>
     <a href="{{ path('establecimiento_edit', { 'id': ctlEstablecimiento.id }) }}" class="btn  btn-primary" >Editar</a>
     {{ form_start(delete_form) }}<input type="submit" value="Borrar" class="btn  btn-danger">{{ form_end(delete_form) }}
    </p>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>    
{% endblock %}
