{% extends 'base.html.twig' %}
{% block title %}Agregar programa o componente{% endblock %}
{% block body %}
<div class="row">
 <div class="col-xs-12">
  <div class="box">
   <div class="box-header with-border">
    <h4>Datos</h4>
    <div class="box-tools pull-right">
     <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Ocultar">
     <i class="fa fa-minus"></i></button>
     <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Salir">
     <i class="fa fa-times"></i></button>
    </div>
   </div>
   <div class="box-body" >
    {{ form_start(form) }}
        {{ form_widget(form) }}
   </div>
   <div class="box-footer" style="">
        <input type="submit" value="Agregar" class="btn btn-primary" />
    {{ form_end(form) }}
   </div>
  </div>
 </div>    <a href="{{ path('configuracion_programas_index') }}" class="btn btn-info"><span class="glyphicon glyphicon-list-alt" data-toggle="tooltip" title="" data-original-title="Listar"> Listar </span></a>

</div>
{% endblock %}

{% block head_js %}
  <link rel="stylesheet" href="{{ asset('assets/') }}core/plugins/select2/select2.min.css">
{% endblock %}
{% block footer_js %}
  <script src="{{ asset('assets/') }}core/plugins/select2/select2.full.min.js"></script>
<script>
  $(function () {
    $("#minsal_corebundle_ctlcomponente_roleRegistraComponente").select2();
    $("#minsal_corebundle_ctlcomponente_insumo").select2();
  });
</script>
{% endblock %}
