{% extends 'base.html.twig' %}
{% block body %}
{%  if is_granted('IS_AUTHENTICATED_FULLY') %}
  {% if registro %}
  
<div class="col-md-12 col-sm-6 col-xs-12" id="respuesta" >
 <div class="info-box">
  <span class="info-box-icon bg-aqua"><i class="fa fa-calendar"></i></span>
  <div class="info-box-content">
   <span class="info-box-text">Cierre.</span>
   <span class="info-box-number">Realice esta operación unicamente si ha finalizado de realizar el registro de todos los consumos de los productos</span>
   <button type="button" class="btn btn-danger btn-sm" onclick="cierre()">Eliminar cuadro basico</button>
   
  </div>
 </div>
</div>
	{% include 'MinsalRutinaBundle::Default/registro.html.twig' %}
  {%  endif %}
  {% if region %}
	{% include 'MinsalRutinaBundle::Default/registro.html.twig' %}
  {%  endif %}
{%  else %}
	{% include 'MinsalRutinaBundle::Default/holamundo.html.twig' %}
{%  endif %}
{% endblock %}

{% block head_css %}
  <link rel="stylesheet" href="{{ asset('assets/') }}core/bower_components/DataTables/media/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="{{ asset('assets/') }}core/bower_components/DataTables/extensions/Buttons/css/buttons.dataTables.min.css">
{% endblock %}
{% block footer_js %}
<script src="{{ asset('assets/') }}core/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
<script src="{{ asset('assets/') }}core/bower_components/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="{{ asset('assets/') }}core/bower_components/DataTables/extensions/Buttons/js/buttons.html5.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<script>
$(document).ready(function() {
    $('#tabla').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf'
        ],
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true
    } );
    $('#tabla2').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf'
        ],
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true
    } );
} );
</script>
<!-- DataTables 
<script src="{{ asset('assets/') }}core/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{ asset('assets/') }}core/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
-->
<!-- page script 
<script>
  $(function () {
    $('#tabla').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    });
    $('#tabla2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    });
  })
</script>-->
{% endblock %}
{% block title %}Sistema de registro de consumos y existencias del Ministerio de Salud{% endblock %}

