
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">        
        <li><a href="{{ path('minsal_core_registro_index') }}"><i class="fa fa-edit"></i> <span>Registrar consumo</span></a></li>
        <li><a href="{{ path('minsal_core_registro_manual') }}"><i class="fa fa-circle-o text-yellow"></i> <span>Manual</span></a></li>
        <li><a href="{{ path('minsal_core_registro_archivo') }}"><i class="fa fa-circle-o text-aqua"></i> <span>Archivo</span></a></li>
        <li><a href="{{ path('movimiento_index') }}"><i class="fa fa-circle-o text-grey"></i> <span>Movimientos</span></a></li>
        <li><a href="{{ path('consumo_index') }}"><i class="fa fa-circle-o text-aqua"></i> <span>Consumos</span></a></li>
        <li><a href="{{ path('existencias_index') }}"><i class="fa fa-circle-o text-aqua"></i> <span>Existencias</span></a></li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i> <span>Tablas sin mantenimiento</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('establecimiento_index') }}">+  Establecimientos</a></li>
            <li><a href="{{ path('mecanismo_index') }}">+  Mecanismo</a></li>
            <li><a href="{{ path('insumo_index') }}">+  Suministros</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-folder"></i> <span>Tablas mantenimiento</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('componente_index') }}">+  Componente</a></li>
            <li><a href="{{ path('componente_index') }}">+  Cuadro básico * Establecimiento</a></li>
            <li><a href="{{ path('tipo_movimiento_index') }}">+  Tipo movimiento</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="fa fa-book"></i> <span>Documentación</span></a></li>
<!-- 
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="../../index.html">+  Dashboard v1</a></li>
            <li><a href="../../index2.html">+  Dashboard v2</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Layout Options</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="../layout/top-nav.html">+  Top Navigation</a></li>
            <li><a href="../layout/boxed.html">+  Boxed</a></li>
            <li><a href="../layout/fixed.html">+  Fixed</a></li>
            <li><a href="../layout/collapsed-sidebar.html">+  Collapsed Sidebar</a></li>
          </ul>
        </li>
        <li>
          <a href="../widgets.html">
            <i class="fa fa-th"></i> <span>Widgets</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">Hot</small>
            </span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Charts</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="../charts/chartjs.html">+  ChartJS</a></li>
            <li><a href="../charts/morris.html">+  Morris</a></li>
            <li><a href="../charts/flot.html">+  Flot</a></li>
            <li><a href="../charts/inline.html">+  Inline charts</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>UI Elements</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="../UI/general.html">+  General</a></li>
            <li><a href="../UI/icons.html">+  Icons</a></li>
            <li><a href="../UI/buttons.html">+  Buttons</a></li>
            <li><a href="../UI/sliders.html">+  Sliders</a></li>
            <li><a href="../UI/timeline.html">+  Timeline</a></li>
            <li><a href="../UI/modals.html">+  Modals</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Forms</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="../forms/general.html">+  General Elements</a></li>
            <li><a href="../forms/advanced.html">+  Advanced Elements</a></li>
            <li><a href="../forms/editors.html">+  Editors</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-table"></i> <span>Tables</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="../tables/simple.html">+  Simple tables</a></li>
            <li><a href="../tables/data.html">+  Data tables</a></li>
          </ul>
        </li>
        <li>
          <a href="../calendar.html">
            <i class="fa fa-calendar"></i> <span>Calendar</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>
            </span>
          </a>
        </li>
        <li>
          <a href="../mailbox/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
        </li>
        <li class="treeview active">
          <a href="#">
            <i class="fa fa-folder"></i> <span>Examples</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="invoice.html">+  Invoice</a></li>
            <li><a href="profile.html">+  Profile</a></li>
            <li><a href="login.html">+  Login</a></li>
            <li><a href="register.html">+  Register</a></li>
            <li><a href="lockscreen.html">+  Lockscreen</a></li>
            <li><a href="404.html">+  404 Error</a></li>
            <li><a href="500.html">+  500 Error</a></li>
            <li class="active"><a href="blank.html">+  Blank Page</a></li>
            <li><a href="pace.html">+  Pace Page</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-share"></i> <span>Multilevel</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">+  Level One</a></li>
            <li>
              <a href="#">+  Level One
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#">+  Level Two</a></li>
                <li>
                  <a href="#">+  Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#">+  Level Three</a></li>
                    <li><a href="#">+  Level Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#">+  Level One</a></li>
          </ul>
        </li>
        <li><a href="../../documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
        <li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
-->
      </ul>
    </section>
    <!-- /.sidebar -->
