{% extends 'base.html.twig' %}
{% block title %}Catalogo de insumos{% endblock %}
{% block subtitle %}Insumos oficiales en uso{% endblock %}
{% block body %}
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          

          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="tabla" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Codigo Sinab</th>
                  <th>Listado oficial</th>
                  <th>Nombre largo</th>
                </tr>
                </thead>
                <tbody>
                {% for ctlInsumo in ctlInsumos %}
            <tr>
                <td>{{ ctlInsumo.id }}</td>
                <td>{{ ctlInsumo.codigoSinab }}</td>
                <td>{% if ctlInsumo.listadoOficial %}Si{% else %}No{% endif %}</td>
                <td>{{ ctlInsumo.nombreLargoInsumo }}</td>
            </tr>
        {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Codigo Sinab</th>
                  <th>Listado oficial</th>
                  <th>Nombre largo</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>    
{% endblock %}

{% block footer_js %}
<!-- DataTables -->
<script src="{{ asset('assets/') }}core/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{ asset('assets/') }}core/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- page script -->
<script>
  $(function () {
    $("#tabla").DataTable();
    $('#e').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
{% endblock %}
