{% extends 'base.html.twig' %}
{% block title %}Registro de Existencias en [Farmacia|Almacen] [Establecimiento xx-99-xx]{% endblock %}
{% block subtitle %}Detalle de existencias de establecimiento{% endblock %}
{% block body %}

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          

          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="tabla" class="table table-bordered table-striped">
                <thead>
                <tr>
                <th>Año</th>
                <th>Mes</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Lote</th>
                <th>Caducidad</th>
                <th>Operaciones</th>
                </tr>
                </thead>
                <tbody>
        {% for ctlExistencia in ctlExistencias %}
            <tr>
                <td>{% if ctlExistencia.fechaRegistro %}{{ ctlExistencia.fechaRegistro|date('Y') }}{% endif %}</a></td>
                <td>{% if ctlExistencia.fechaRegistro %}{{ ctlExistencia.fechaRegistro|date('m') }}{% endif %}</td>
                <td>{{ ctlExistencia.ctlInsumoid }}</td>
                <td>{{ ctlExistencia.cantidadExistencia }}</td>
                <td>{% if ctlExistencia.fechaCaducidad %}{{ ctlExistencia.fechaCaducidad|date('Y-m-d') }}{% endif %}</td>
                <td>{{ ctlExistencia.loteExistencia }}</td>
                <td>{% if ctlExistencia.fechaExistencia %}{{ ctlExistencia.fechaExistencia|date('Y-m-d') }}{% endif %}</td>
                <td><a href="{{ path('existencias_show', { 'id': ctlExistencia.id }) }}">Ver </a>-<a href="{{ path('existencias_edit', { 'id': ctlExistencia.id }) }}"> Editar</a>
                </td>
            </tr>
        {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                <th>Año</th>
                <th>Mes</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Lote</th>
                <th>Caducidad</th>
                <th>Operaciones</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      
<a href="{{ path('existencias_new') }}" class="btn  btn-primary">Agregar existencia</a>
    </section>    
{% endblock %}
{% block footer_js %}
<!-- DataTables -->
<script src="{{ asset('assets/') }}core/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{ asset('assets/') }}core/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- page script -->
<script>
  $(function () {
    $("#tabla").DataTable();
    $('#e').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
{% endblock %}
