{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctlexistencias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecharegistro</th>
                <th>Cantidadexistencia</th>
                <th>Fechacaducidad</th>
                <th>Loteexistencia</th>
                <th>Fechaexistencia</th>
                <th>Almacenfarmacia</th>
                <th>Userid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ctlExistencia in ctlExistencias %}
            <tr>
                <td><a href="{{ path('existencias_show', { 'id': ctlExistencia.id }) }}">{{ ctlExistencia.id }}</a></td>
                <td>{% if ctlExistencia.fechaRegistro %}{{ ctlExistencia.fechaRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ ctlExistencia.cantidadExistencia }}</td>
                <td>{% if ctlExistencia.fechaCaducidad %}{{ ctlExistencia.fechaCaducidad|date('Y-m-d') }}{% endif %}</td>
                <td>{{ ctlExistencia.loteExistencia }}</td>
                <td>{% if ctlExistencia.fechaExistencia %}{{ ctlExistencia.fechaExistencia|date('Y-m-d') }}{% endif %}</td>
                <td>{% if ctlExistencia.almacenFarmacia %}Yes{% else %}No{% endif %}</td>
                <td>{{ ctlExistencia.userId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('existencias_show', { 'id': ctlExistencia.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('existencias_edit', { 'id': ctlExistencia.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('existencias_new') }}">Create a new ctlExistencia</a>
        </li>
    </ul>
{% endblock %}
