{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctlexistencia</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ctlExistencia.id }}</td>
            </tr>
            <tr>
                <th>Fecharegistro</th>
                <td>{% if ctlExistencia.fechaRegistro %}{{ ctlExistencia.fechaRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cantidadexistencia</th>
                <td>{{ ctlExistencia.cantidadExistencia }}</td>
            </tr>
            <tr>
                <th>Fechacaducidad</th>
                <td>{% if ctlExistencia.fechaCaducidad %}{{ ctlExistencia.fechaCaducidad|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Loteexistencia</th>
                <td>{{ ctlExistencia.loteExistencia }}</td>
            </tr>
            <tr>
                <th>Fechaexistencia</th>
                <td>{% if ctlExistencia.fechaExistencia %}{{ ctlExistencia.fechaExistencia|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Almacenfarmacia</th>
                <td>{% if ctlExistencia.almacenFarmacia %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ ctlExistencia.userId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('existencias_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('existencias_edit', { 'id': ctlExistencia.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
