{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctltipoestablecimiento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ctlTipoEstablecimiento.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ ctlTipoEstablecimiento.nombre }}</td>
            </tr>
            <tr>
                <th>Idinstitucion</th>
                <td>{{ ctlTipoEstablecimiento.idInstitucion }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ ctlTipoEstablecimiento.codigo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configuracion_tipoestablecimientos_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
